.Space {
    width: 8vh;
    height: 8vh;
    border: 1px solid black;
    box-sizing: border-box;
    position: relative;
}

.Space img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}